# compiled class files #
*.class

# libraries #
.idea/

# intellij settings
*.iml

# personal files #
estymaty.md

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Log file
*.log

target/generated-sources/
